body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  text-align: center;
  font-family: sans-serif;
}
canvas {
  border: 2px solid white;
  max-width: 300px;
  width: 80%;
}

h1, h2, h3 {
  color: white;
  font-weight: 400;
}

h2 {
  display: inline-block;
  text-align: justify;
  font-size: 20px;
}

h3 {
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  min-width: 60px;
}

p {
  color: #909090;
}

.scores {
  display: flex;
  justify-content: space-between;
  width: 300px;
  /* border: 1px solid red; */
}

.movement {
  width: 300px;
  display: flex;
  justify-content: space-between;
}